.projetos-grid {
  @include container;
  @include mbottom-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  @include screen(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include screen(mobile) {
    grid-template-columns: 1fr;
  }
  .projetos-grid-item {
    position: relative;
    h3 {
      position: absolute;
      left: -80px;
      right: 80px;
      bottom: 0;
      background-color: $c1;
      color: $w;
      @include title-3;
      padding: $spacing-3;
      width: 100%;
      box-sizing: border-box;
      opacity: 0;
      transition: 0.5s;
      @include screen(tablet) {
        opacity: 1;
        left: 0;
        right: 0;
        padding: $spacing-3-2;
      }
      @include screen(mobile) {
        padding: $spacing-3;
      }
    }
    // Animação Hover
    &:hover h3 {
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
}
