.sobre-info {
  @include container;
  @include mbottom-1;
  p {
    @include text-1;
    color: $c4;
  }
}

.sobre-grid-1 {
  grid-area: a;
}
.sobre-grid-2 {
  grid-area: b;
}
.sobre-grid-3 {
  grid-area: c;
}
.sobre-grid-4 {
  grid-area: d;
}

.sobre-grid-1,
.sobre-grid-4 {
  background-color: $c1;
  padding: 40px;
  align-content: end;
  @include text-1;
  @include screen(tablet) {
    padding: 32px;
  }
  @include screen(mobile) {
    @include text-2;
  }
  p:nth-of-type(1) {
    color: $w;
    @include mbottom-4;
  }
  p:nth-of-type(2) {
    color: $c3;
  }
}

.sobre-grid {
  @include container;
  @include mbottom-1;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b b"
    "c c d";
  @include screen(tablet) {
    grid-template-columns: 1fr;
    grid-template-areas: "b" "a" "c" "d";
  }
}
