.inicio-depoimento {
  @include container;
  @include mbottom-1;
  h2 {
    @include title-2;
    @include container-2;
    @include mbottom-2;
    @include screen(tablet) {
      text-align: center;
    }
  }
  a {
    color: $c4;
    @include link-text($c3);
    display: block;
    max-width: fit-content;
    margin-left: auto;
    @include screen(tablet) {
      margin-right: auto;
    }
  }
  .inicio-depoimento-frase {
    background-color: $w2;
    @include mbottom-2;
    padding-top: 32px;
    padding-bottom: 32px;
    p:nth-of-type(1) {
      color: $c3;
      @include mbottom-4;
      @include text-1;
      @include container-2;
    }
    p:nth-of-type(2) {
      @include text-1;
      color: $c4;
      @include container-2;
    }
  }
}
