.inicio-servicos {
  @include container;
  @include mbottom-1;
  h2 {
    @include title-2;
    @include mbottom-2;
    @include container-2;
    @include screen(tablet) {
      text-align: center;
    }
  }
  .inicio-servicos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    @include screen(tablet) {
      grid-template-columns: 1fr;
    }
    .inicio-servicos-item {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .inicio-servicos-item-texto {
        position: absolute;
        bottom: 0;
        left: -80px;
        right: 80px;
        background-color: $c1;
        padding: $spacing-3;
        h3 {
          color: $w;
          @include title-3;
          margin-bottom: 6px;
        }
        p {
          color: $c2;
          @include text-2;
        }
      }
    }
  }
}

// Animações Hover
.inicio-servicos-item-texto {
  opacity: 0;
  transition: 0.5s;
  @include screen(tablet) {
    opacity: 1;
    left: 0 !important;
    right: 0 !important;
  }
}

.inicio-servicos-item:hover {
  .inicio-servicos-item-texto {
    opacity: 1;
    left: 0 !important;
    right: 0 !important;
  }
}
